src/main/app/subscriber.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:ws="http://www.mulesoft.org/schema/mule/ws" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/ws http://www.mulesoft.org/schema/mule/ws/current/mule-ws.xsd
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <jms:activemq-connector name="Active_MQ" brokerURL="${jms.broker.url}" validateConnections="true" clientId="${jms.client.id}" maxRedelivery="1" durable="true" eagerConsumer="true" doc:name="Active MQ"/>
    <http:request-config name="HTTP_Request_Configuration" host="${rest-api-host}" port="${rest-api-port}" basePath="${rest-api-base-path}" doc:name="HTTP Request Configuration"/>
    <flow name="subscriberFlow">
        <jms:inbound-endpoint topic="${jms.topic}" connector-ref="Active_MQ" durableName="FIRST_SUBSCRIBER" doc:name="JMS"/>
        <logger message="Payload is:  #[System.getProperty('line.separator')] #[payload]" level="INFO" doc:name="Incoming Msg Logger"/>
        <mulexml:xslt-transformer xsl-file="setupCountryRequest.xslt" maxIdleTransformers="2" maxActiveTransformers="5" doc:name="XSLT country-name extraction"/>
        <object-to-string-transformer doc:name="Object to String"/>
        <set-variable variableName="countryName" value="#[payload]" doc:name="Set flowVar alias for payload (redundant)"/>
        <http:request config-ref="HTTP_Request_Configuration" path="${rest-api-path}" method="GET" doc:name="HTTP - Perform actual REST call">
            <http:request-builder>
                <http:query-param paramName="${rest-api-parameter-name}" value="#[flowVars.countryName]"/>
            </http:request-builder>
        </http:request>
        <json:json-to-object-transformer doc:name="JSON to Object"/>
        <object-to-string-transformer doc:name="Object to String"/>
        <logger message="Output:  #[System.getProperty('line.separator')] #[payload]" level="INFO" doc:name="JSON Result Logger"/>
    </flow>
</mule>
